

#exemplo{
    width: 200px;
    height: 200px;
    margin: 20pc;
    border: 1px solid #ccc;
}

.verde{
    background-color: #00ff00;
}

.vermelho{
    background-color: #ff0000;
}

.azul{
    background-color: #0000ff;
}